body {
  position: relative;
  margin: 0;
background-image: 
    url("./images/milky-way-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}


.earth-container{
  position: absolute;
   bottom: calc(30% - 150px);
    left: calc(18% - 150px);
}

.earth{
  width: 150px;
 border-radius: 50%;
box-shadow: 0 0 12em 1em rgba(110, 140, 200, .6);
  animation: earth 20s ease-in-out infinite;
}

.rocket-container {
  animation: rotate 10s linear infinite;
  background: none;
  height: 50px;
  pointer-events: none;
  transform-origin: 25px;
  width: 50px;
}

.rocket {
  position: absolute;
  top: 300px;
  left: 320px;
  transform: translateX(-160px) translateY(-160px);
  width: 70px;
  position: absolute;
}

.planet{
  position: absolute;
  top: 400px; 
  right: 100px;
  animation: saturn 70s linear infinite;
}

.satellite {
  position: absolute;
  top: 300px;
  right: 50px;
  animation: satellite;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.austronaut-container {
  position: absolute;
 bottom: calc(30% - 110px);
    left: calc(18% - 110px);
    animation: austronaut 30s linear infinite;
}

.austronaut {
  transform: translateX(-90px) translateY(-90px);
  width: 50px;
}

.comet-container {
  position: absolute;
  animation: comet 25s linear infinite;
 top: 220px;
  right: 100px;
  z-index: -1;
}

.comet {
  position: absolute;
  transform: translateX(-90px) translateY(-300px);
}
.ufo{
  left:40px;
  position: absolute;
  animation: ufo 35s linear infinite;
}

@keyframes ufo {
  0%{
    transform: scale(0.3);
  }
  10%, 20%, 30% {
    transform: scale(0.8) rotate(360deg);
  }
  20% {
    transform: translateX(50px) translateY(20px) scale(0.7);
  }
   40% {
    transform: translateX(50px) translateY(20px) scale(0.5);
  }
    50% {
     transform: scale(0.1);
  }
    60% {
     transform: scale(0);
  }
    70% {
     transform: scale(0);
  }
    80% {
     transform: scale(0);
  }
    90% {
     transform: scale(0);
  }
   100% {
     transform: scale(0);
  }
}

@keyframes comet {
   0%{
    transform:rotate(-10deg) scale(0.9);
  }
  10% {
    transform: rotate(-90deg) scale(0.5);
  }
  20%{
    transform:rotate(-180deg) scale(0.4);
  }     
  30%{
    transform:rotate(-270deg) scale(0.2);
  }
  40% {
    transform:rotate(-360deg) scale(0);
  }
  50% {
    transform:rotate(-360deg) scale(0);
  }
  60% {
    transform:rotate(-360deg) scale(0);
  }
  70% {
    transform:rotate(-360deg) scale(0);
  }
  80% {
    transform:rotate(-360deg) scale(0);
  }
  90% {
    transform:rotate(-360deg) scale(0);
  }
  100% {
    transform:rotate(-360deg) scale(0);
  }
  }
  

@keyframes earth {
  0% {
    transform: scale(1);
  
  }
  50% {
    transform: scale(0.8);
    filter: brightness(70%);
  }
  100% {
    transform: scale(1);
  }
  
}

@keyframes saturn {
  0% {
    transform: scale(0.5) rotate(0deg);
 filter: brightness(50%) ;
  }
  50% {
    transform: scale(1) rotate(360deg);
     filter: brightness(100%) hue-rotate(3.142rad);
  }
  75% {
    transform: scale(0.7) rotate(270deg);
     filter: brightness(100%) hue-rotate(-0.85turn);
  }
  100% {
 transform: scale(0.5) rotate(0deg);
  filter: brightness(50%) hue-rotate(90deg);
  }
}

@keyframes rotate {
  0%{
    transform:rotateZ(0);
  }
  100%{
    transform:rotateZ(-360deg);
  }     
  }

  @keyframes austronaut {
    100%{
      transform: rotate(360deg);
    }
  }


  @keyframes satellite {
    100% {
      transform: rotate(360deg);
    }
      0% {
   top: 300px;
   right: 50px;
  }
  25% {
   top: 200px;
   right: 200px;
  }
  50% {
    top: 150px;
   right: 300px;
  }
  50% {
 top: 250px;
   right: 200px;
  }
  75% {
    top: 300px;
   right: 100px;
  }
  75% {
 top: 310px;
   right: 70px;
  }
100% {
  top: 300px;
   right: 50px;

}
  
}
.quiz-container {
  max-width: 700px;
  min-height: 497px;
  background-color: #a5b7ff6c;
  margin: 30px auto;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 0 1em 1em rgba(110, 140, 200, .6);
  z-index: 100;
}

.question-number h3 {
  color: rgb(221, 219, 92);
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding-bottom: 10px;
}

#question {
  font-size: 24px;
  font-weight: 600;
  color: #e1fffe;
  padding: 15px 0;
  margin-bottom: 10px;
}

.options {
  margin-bottom: 15px;
}

.options div {
  background-color: #cccccc;
  font-size: 18px;
  
  color: #040303;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.options div:hover {
  background-color: #ccccccaf;
}

.options div.correct {
  color: #ffffff;
  background-color: rgb(33, 138, 77);
}

.options div.wrong {
  color: #ffffff;
  background-color: rgb(213, 46, 46);
}

.options div.disabled {
  pointer-events: none;
}

.button #btn-next {
  padding: 10px 50px;
  background-color: darkcyan;
  font-size: 18px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-bottom: 15px;
}

.button #btn-next:hover {
  background-color: #009687b6;
}

#answers-tracker {
  border-top: 1px solid #cccccc;
  padding-top: 15px;
}

#answers-tracker div {
  height: 40px;
  width: 40px;
  background-color: #cccccc;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}

#answers-tracker div.correct {
  background-color: green;
}

#answers-tracker div.wrong {
  background-color: red;
}

.quiz-over-modal1 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}

.quiz-over-modal1.active {
  display: flex;
}

.quiz-over-modal1 .content {
  background-color: rgb(73, 182, 182);
  padding: 30px;
  border-radius: 10px;
  flex-basis: 700px;
  max-width: 700px;
  color: #ffffff;
  text-align: center;
}

.quiz-over-modal1 .content h1 {
  font-size: 36px;
  margin: 0 0 20px;
}

.quiz-over-modal1 .content button {
  padding: 15px 50px;
  border: none;
  background-color: #ff9800;
  text-align: center;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
}

.quiz-over-modal1 .content button:hover {
  background-color: #ff9900b4;
}

.quiz-over-modal2 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}

.quiz-over-modal2.active {
  display: flex;
}

.quiz-over-modal2 .content {
  background-color: rgb(89, 166, 222);
  padding: 30px;
  border-radius: 10px;
  flex-basis: 700px;
  max-width: 700px;
  color: #ffffff;
  text-align: center;
}

.quiz-over-modal2 .content h1 {
  font-size: 36px;
  margin: 0 0 20px;
}

.quiz-over-modal2 .content button {
  padding: 15px 50px;
  border: none;
  background-color: #ff9800;
  text-align: center;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
}

.quiz-over-modal2 .content button:hover {
  background-color: #ff9900b4;
}

.quiz-over-modal3 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}

.quiz-over-modal3.active {
  display: flex;
}

.quiz-over-modal3 .content {
  background-color: rgb(234, 95, 26);
  padding: 30px;
  border-radius: 10px;
  flex-basis: 700px;
  max-width: 700px;
  color: #ffffff;
  text-align: center;
}

.quiz-over-modal3 .content h1 {
  font-size: 36px;
  margin: 0 0 20px;
}

.quiz-over-modal3 .content button {
  padding: 15px 50px;
  border: none;
  background-color: #ff9800;
  text-align: center;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
}

.quiz-over-modal3 .content button:hover {
  background-color: #ff9900b4;
}

.quiz-over-modal4 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}

.quiz-over-modal4.active {
  display: flex;
}

.quiz-over-modal4 .content {
  background-color: rgb(197, 0, 0);
  padding: 30px;
  border-radius: 10px;
  flex-basis: 700px;
  max-width: 700px;
  color: #ffffff;
  text-align: center;
}

.quiz-over-modal4 .content h1 {
  font-size: 36px;
  margin: 0 0 20px;
}

.quiz-over-modal4 .content button {
  padding: 15px 50px;
  border: none;
  background-color: #ff9800;
  text-align: center;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
}

.quiz-over-modal4 .content button:hover {
  background-color: #ff9900b4;
}

